/* #TODO: */
div#container h1 {
    color: darkblue !important; 
}

div#container ~ h2 {
    color: darkgreen !important;
}

div#container ~ p, div#container p:nth-child(2) {
    color: chocolate !important;
}