@font-face {
  font-family: "yekan";
  src: url(./assets/fonts/Yekan-normal.ttf);
}
* {
  font-family: "yekan", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #eee;
}

.container {
  position: relative;
  margin: auto;
  text-align: center;
  width: 80%;
  background-color: white;
  padding: 30px 10px;
  border-radius: 20px;
}

.card {
  position: relative;
  display: inline-block;
  width: 22%;
  padding: 10px;
  border-radius: 10px;
  background-color: dodgerblue;
}

.card_title {
  color: #fff;
}

.card_body p {
  color: #fff;
}

.card_header img {
  width: 100%;
  border-radius: 8px;
}

button {
  border: none;
  cursor: pointer;
}

.btn {
  border-radius: 6px;
  padding: 10px;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-block {
  width: 100%;
}

.btn-info {
  background-color: #eee;
  color: dodgerblue;
  font-weight: bold;
}

.btn-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #ddd;
  opacity: 0.8;
  color: #666;
  font-size: 20px;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}

.badge {
  border-radius: 20px;
  padding: 0 10px;
  position: absolute;
  top: 6px;
  left: 6px;
}

.badge-alert {
  background-color: tomato;
  color: #fff;
}
