:root {
    --primary-color: #21AA58;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: unset;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    text-align: right;
}

/* Navbar */
#navbar {
    background-color: #f4f4f4;
    padding: 30px 30px 20px;
    width: 100%;
}

#navbar a {
    padding-right: 30px;
    padding-top: 100px;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    cursor: pointer;
}

#navbar a:first-child {
    padding-right: 5px;
}

/* Logo */
#navbar a.logo {
    padding: 10px 200px 10px 0;
}

.logo {
   background: url(./img/Snapp_logo.png) no-repeat center center/contain;
   width: 100px;
   height: 100px;
}

/* Big Box with two parts, image and tel-information */
.img {
    float: left;
    background: url(./img/man2.webp) no-repeat center center/cover;
    width: 50vw;
    height: 450px;
}

/* Tel Information */
.tel-info {
    padding-right: 20px;
    background-color: var(--primary-color);
    color: #fff;
    height: 450px;
}

.tel-info h1 {
    padding-top: 20px;
    font-size: 2.8rem;
    margin-right: 100px;
}

.tel-info p {
    padding: 20px 0;
    font-size: 1.8rem;
    margin-right: 100px;
}

/* Input of telephone */
.tel {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: var(--primary-color);
    margin-right: 100px;
}

.tel:placeholder-shown {
    text-align: right;
}

.tel::placeholder {
    color: #f4f4f4;
    font-size: 1.2rem;
}

/* Buttons */
.btn {
    border: none;
    background-color: #fff;
    color:var(--primary-color);
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 15px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}

.green-btn-container {
    margin: 40px 100px 0 0;
}

.green-btn {
    border: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 60px;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: bold;
}

/* Link Boxes */
#links {
    width: 100%;
    height: 200px;
    padding: 80px 220px;
}

#links a {
    padding: 80px;
    margin-right: 45px;
}

.android {
    background: url(./img/android.png) no-repeat center center/contain;
}

.myket {
    background: url(./img/myketmarket.png) no-repeat center center/contain;
}

.app-store {
    background: url(./img/app_store.svg) no-repeat center center/contain;
}

.web-app {
    background: url(./img/snapp-pwa.png) no-repeat center center/contain;
}

.bazaar {
    background: url(./img/bazaar.png) no-repeat center center/contain;
}

/* Service Boxes */
#services {
    max-width: 75vw;
    height: 700px;
    margin: auto;
}

#services h2 {
    text-align: center;
    font-size: 2.7rem;
    color: #333;
    padding-top: 30px;
}

.box {
    /* i had no idea how can i make it without using display properity so i used it */
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 40px;
}

.icon {
    display: inline-block;
    padding: 30px;
}

.icon-content {
    display: inline-block;
    padding-right: 10px;
    color: #000;
    font-size: 1.1rem;
}

.icon-content p {
    color: #858585;
}

.market-box {
    background: url(./img/Market-Orange-Final.png) no-repeat center center/contain;
    margin-right: 40px;
}

.food-box {
    background: url(./img/food.svg) no-repeat center center/contain;
    margin-right: 75px;
}

.taxi-box {
    background: url(./img/taxi.svg) no-repeat center center/contain;
    margin-right: 50px;
}